{
  "extends": ["airbnb-base", "prettier"],
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "cc": true,
    "VERSION": true,
    "TimeoutID": true,
    "object": true,
    "__DEV__": true
  },
  "ignorePatterns": ["node_modules/", "extensions/"],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/no-cycle": "warn",
    "arrow-parens": 0,
    "prefer-destructuring": 0,
    "no-async-promise-executor": "warn",
    "import/prefer-default-export": 0,
    "class-methods-use-this": 0,
    "no-console": 0,
    // "no-console": ["warn", { "allow": ["error", "warn"] }],
    "prefer-template": "off",
    "no-plusplus": 0,
    "no-underscore-dangle": "off",
    "no-nested-ternary": "warn",
    "import/no-named-default": 0,
    "import/no-webpack-loader-syntax": 0,
    "import/extensions": [
      "error",
      "always",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never"
      }
    ],
    "import/default": "error",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "camelcase": 0,
    "no-bitwise": "off",
    "arrow-body-style": ["error", "as-needed"],
    "no-restricted-globals": "off",
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"]
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.js"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "warnOnUnsupportedTypeScriptVersion": true
      },
      "plugins": ["@typescript-eslint"],
      "rules": {
        "default-case": "off",
        "no-dupe-class-members": "off",
        "no-array-constructor": "off",
        "@typescript-eslint/no-array-constructor": "warn",
        "@typescript-eslint/no-namespace": "error",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": [
          "warn",
          {
            "functions": false,
            "classes": false,
            "variables": false,
            "typedefs": false
          }
        ],
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "args": "none",
            "ignoreRestSiblings": true
          }
        ],
        "no-useless-constructor": "off",
        "@typescript-eslint/no-useless-constructor": "warn",
        "import/extensions": 0,
        "import/no-unresolved": 0
      }
    }
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": 1
    }
  }
}
